<div class = "container">
    <div class = "calc">
        <div class = "title-calc">
            <h3>Calculadora</h3>
        </div>
        <div class = "operations mt -5">
            <div class = "prev-calc">{{operacaoAnterior}}</div>
            <div class = "actual-calc">{{operacaoAtual}}</div>
        </div>
        <div class = "btn-container">
            <button (click) = "adicionarAoVisor('C')">C</button>
            <button (click) = "adicionarAoVisor('DEL')">DEL</button>
            <button (click) = "adicionarAoVisor('/')">/</button>
            <button (click) = "adicionarAoVisor('x')">x</button>
            <button (click) = "adicionarAoVisor('7')" class = "number">7</button>
            <button (click) = "adicionarAoVisor('8')" class = "number">8</button>
            <button (click) = "adicionarAoVisor('9')" class = "number">9</button>
            <button (click) = "adicionarAoVisor('-')">-</button>
            <button (click) = "adicionarAoVisor('4')" class = "number">4</button>
            <button (click) = "adicionarAoVisor('5')" class = "number">5</button>
            <button (click) = "adicionarAoVisor('6')" class = "number">6</button>
            <button (click) = "adicionarAoVisor('+')">+</button>
            <button (click) = "adicionarAoVisor('1')" class = "number">1</button>
            <button (click) = "adicionarAoVisor('2')" class = "number">2</button>
            <button (click) = "adicionarAoVisor('3')" class = "number">3</button>
            <button (click) = "adicionarAoVisor('=')" class = "equal">=</button>
            <button (click) = "adicionarAoVisor('0')" class = "zero">0</button>
            <button (click) = "adicionarAoVisor(',')">,</button>
        </div>
    </div>
</div>
